<!-- <p *ngIf="name">El nombre es: {{name}}</p> -->

<!-- <input type="text" [(ngModel)]="name" /> -->

<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"></app-form-new-item>
    </div>
    <div class="col-md-8">
      <app-cities *ngFor="let city of cities" (cityClickedEvent)="onCityClicked($event)" [city]="city" [selection]="selection"></app-cities>
    </div>
    <input type="text" (keypress)="onSearch()" />
    <div class="col-md-4">
      <div *ngIf="selection">
        <p>Your city is: {{selection}}</p>
        <!-- <button (click)="onClear()">Clear your selection</button> -->
        <app-button (click)="onClear()" [label]="'Clear your selection'"></app-button>
      </div>
    </div>
  </div>
</div>


